// This mixin will hide any element without removing it from the page, thus optimizing for accessibility. Use in desired media queries as necessary to avoid bloat.
@mixin visuallyHidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
