@use "sass:math";

@use "../../global/styles/config.scss";
@use "../../global/styles/mixins/_visuallyHidden.scss";

// It would be pretty cool to provide the user a toggle between css columns, flexbox, and css grid.
.PortfolioPage {
  &-imagesContainer {
    display: grid;
    grid: auto / repeat(auto-fit, minmax(240px, 1fr));
    gap: 1em;
    place-content: start;
    place-items: stretch;
  }
}
.MultiSelectSearch {
  display: block;
  border: 1px solid black;
  &-label {
    @include visuallyHidden.visuallyHidden;
  }
  &-input {
    border: none;
  }
}
.Select {
  display: block;
  width: 100%;
}
.Option {
  display: block;
  &:hover {
    background-color: green;
  }
  &--hidden {
    display: none;
  }
  &--highlight {
    background-color: red;
  }
}
