@use "sass:math";

.Tag {
  font-size: 11px;
  position: relative;
  display: inline-block;
  line-height: 1;
  padding: 0.5em 1.5em;
  margin: 0 calc(1em / 6) calc(1em / 3) 1em;
  border-radius: 0 calc(1em / 3) calc(1em / 3) 0;
  background-color: blue;
  color: white;
  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 2em / math.sqrt(2);
    width: 2em / math.sqrt(2);
    top: 50%;
    right: 100%;
    transform: translateY(-50%) translateX(50%) rotate(45deg);
    background-color: inherit;
  }
  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 0.5em;
    width: 0.5em;
    top: 50%;
    left: -0.25em;
    background-color: white;
    box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.25em;
    transform: translateY(-50%) translateX(50%);
  }
}
