@use "../../styles/config.scss";

.X {
  position: absolute;
  align-items: center;
  top: -(config.$spacer-10);
  right: -(config.$spacer-10);
  width: config.$spacer-10;
  height: config.$spacer-10;
  margin: auto 0;
  z-index: config.$z-100;
  cursor: pointer;
  transition: all config.$to-s-ms;
  transform-origin: center;
}
