@import "../ubiquitous/styles/colors";

.Header {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: $theme-primary;

  &-innerWrapper {
    display: flex;
  }

  &-item {
    &--rightAlign {
      display: inline-flex;
      margin: 0 16px 0 auto;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Header {
    &-innerWrapper {
      max-width: 90%;
      margin: auto;
    }
    &-item {
      &--rightAlign {
        margin: 0 0 0 auto;
      }
    }
  }
}
