@import "../../styles/colors";

.Button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  color: $black;
  background-color: $theme-secondary;
  text-align: center;
  text-decoration: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Button {
    display: flex;
    position: relative;
    margin: auto;
    padding: 4px 20px;
    height: 32px;

    &-content {
      display: inline-flex;
      margin: auto;
    }
  }
}
