@import "../../../styles/colors";

.Patty {
  background-color: $white;
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;

  &-reversed {
    background-color: $white;
  }
}
