@use "../../styles/_config.scss";
@use "../../styles/mixins/_visuallyHidden.scss";

.Figure {
  height: 100%;
  position: relative;
  place-self: stretch end;
  margin: auto;
  display: flex;
  &--Hidden {
    display: none;
  }
  &-caption {
    @include visuallyHidden.visuallyHidden;
    :hover > & {
      @include visuallyHidden.visuallyHiddenReset;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 12px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
    }
    &-header,
    &-description {
      margin: auto 0;
    }
    &-tags {
      margin: auto 0;
      padding: 0;
    }
  }
}
