.DropdownItem {
  display: block;
  &:hover,
  &:focus,
  &:active {
    background-color: green;
  }
  &:focus {
    border: solid 1px black;
    border-radius: 3px;
  }
  &--active {
    background-color: red;
  }
  &--hidden {
    display: none;
  }
}
