@import "../../../styles/config.scss";
@import "../../../styles/mixins/_visuallyHidden.scss";

.Label {
  grid-column: 1 / 2;
  float: left;
  text-align: right;
  padding: 3px 3px 3px 0;
  margin-left: auto;
}

// Accessibly hide labels on small screens
// TODO: Fix up the bp config, make it much more expansive in terms of these edge cases. i.e. 768 vs 767
@media only screen and (max-width: 767px) {
  .Label {
    @include visuallyHidden;
  }
}
