@import "../../global/styles/config.scss";

.Contact {
  background-color: red;
  &-form {
    background-color: blue;
    &-fieldset {
      position: relative;
    }
    &-label {
      background-color: green;
      width: 180px;
      float: left;
      text-align: right;
      margin-right: $spacer-4;
    }
    &-input {
      background-color: orange;
      &[type="text"],
      &[type="email"] {
        display: block;
      }
    }
    &-textarea {
      background-color: yellow;
    }
    &-submit {
      cursor: pointer;
      background-color: purple;
    }
  }
}
