@use "../../../../global/styles/config.scss";

.NavigationItem {
  display: block;
  color: config.$black;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: config.$spacer-3 0;
  margin: config.$spacer-1 0;
  text-align: center;

  &-active {
    background-color: red;
  }

  &:hover {
    background-color: config.$theme-secondary;
  }
}

@media only screen and (min-width: config.$bp-m-px) {
  .NavigationItem {
    padding: config.$spacer-3 config.$spacer-4;
  }
}
