@use "../../../styles/config.scss";

.Input {
  display: block;
  border: none;
  &[type="submit"],
  &[type="reset"] {
    display: inline-block;
    cursor: pointer;
  }
  &--gridItem {
    grid-column: 3 / 1;
    border: solid 1px grey;
    padding: 1px;
  }
}

@media only screen and (min-width: config.$bp-m-px) {
  .Input {
    &--gridItem {
      grid-column: 2 / 3;
    }
  }
}
