@use "../../styles/config.scss";

.Button {
  display: block;
  color: config.$black;
  padding: config.$spacer-3 config.$spacer-5;
  margin: config.$spacer-1 auto;
  border-radius: config.$spacer-1;
  color: config.$black;
  background-color: config.$theme-secondary;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: config.$bp-m-px) {
  .Button {
    display: flex;
    position: relative;
    margin: auto;
    padding: config.$spacer-1 config.$spacer-5;
    height: config.$spacer-8;

    &-content {
      display: inline-flex;
      margin: auto;
    }
  }
}
