.ListItem {
  width: 100%;
  display: block;
  &-link {
    color: white;
    text-decoration: none;
    padding: 16px;
    margin: 0 4px;
    &:hover {
      background-color: red;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ListItem {
    display: inline-flex;
    margin: auto;
  }
}
