@use "../../../global/styles/config.scss";

.NavigationItems {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: config.$z-200;
  background-color: config.$white;
  transition: transform config.$to-l-ms linear;
  // BEGIN: react-transition-group specific class declarations
  &-enter {
    transform: translateY(0);

    &-active {
      transform: translateY(100%);
    }

    &-done {
      transform: translateY(100%);
    }
  }

  &-exit {
    transform: translateY(100%);

    &-active {
      transform: translateY(0);
    }
  }
  // END: react-transition-group specific class declarations

  &:first-child {
    margin: 0 0 config.$spacer-1;
  }

  &:last-child {
    margin: config.$spacer-1 0 0;
  }
}

@media only screen and (min-width: config.$bp-m-px) {
  .NavigationItems {
    display: inline-flex;
    position: relative;
    width: auto;
    margin: 0 config.$spacer-1 0 config.$spacer-11;
    bottom: initial;
    z-index: config.$z-000;
    background-color: transparent;
    transform: none;
    transition: initial;

    &:last-child {
      margin: 0 0 0 config.$spacer-1;
      padding: 0;
    }

    &:first-child {
      margin: 0 config.$spacer-1 0 0;
      padding: 0;
    }
  }
}
