.ListItem {
  display: inline-flex;
  margin: auto;
  &-link {
    color: white;
    text-decoration: none;
    padding: 16px;
    margin: 0 4px;
    &:hover {
      background-color: red;
    }
  }
}
