// NavLinks.scss

@import "../../../global/styles/config.scss";

.NavLinks {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: 1;
  background-color: $white;
  transform: translateY(0);
  transition: all linear 0.25s;
  &-open {
    transform: translateY(100%);
  }
  &:first-child {
    margin: 0 0 4px;
  }
  &:last-child {
    margin: 4px 0 0;
  }
}

.NavLink {
  display: block;
  color: $black;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 12px 0;
  margin: 4px 0;
  text-align: center;
  &-active {
    background-color: red;
  }
  &:hover {
    background-color: $theme-secondary;
  }
}

/* Medium devices (768px and up) */
@media only screen and (min-width: $bp-m-px) {
  .NavLinks {
    display: inline-flex;
    position: relative;
    width: auto;
    margin: 0 4px 0 44px;
    bottom: initial;
    z-index: initial;
    background-color: transparent;
    transform: none;
    transition: initial;
    &:last-child {
      margin: 0 0 0 4px;
      padding: 0;
    }
    &:first-child {
      margin: 0 4px 0 0;
      padding: 0;
    }
  }

  .NavLink {
    padding: 12px 16px;
  }
}
