@import "global/styles/config";

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  // -80px calc ensures escape X always has space
  max-width: calc(90% - 80px);
  max-height: calc(90% - 80px);
  z-index: $z-400;
}
