@import "global/styles/config";

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  max-width: 90%;
  max-height: 90%;
  z-index: $z-400;
}
