// ListItem.scss

@import "../../../styles/config";

.ListItem {
  display: block;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  &:first-child {
    padding: 0 0 4px;
  }
  &:last-child {
    padding: 4px 0 0;
  }
  &--hover:nth-child(n):hover {
    background-color: $theme-secondary;
  }
}

/* Medium devices (768px and up) */
@media only screen and (min-width: $bp-m) {
  .ListItem {
    display: inline-flex;
    width: initial;
    margin: 0 4px;
    padding: 0;
    &:last-child {
      margin: 0 0 0 4px;
      padding: 0;
    }
    &:first-child {
      margin: 0 4px 0 0;
      padding: 0;
    }
  }
}
