@import "../../ubiquitous/styles/config";

.Logo {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  display: inline-flex;
  background-color: $theme-secondary;
}

/* Tablet devices (768px and up) */
@media only screen and (min-width: $bp-m) {
  .Logo {
    margin: 0;
    height: 65px;
    width: 65px;
  }
}
